/*############## Navbar Start ##################*/

.earning_pharmabooking_navbar_doctorcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.earning_pharmabooking_nav_links_doctorcase {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 50px;
}

.earning_pharmabooking_list_item_doctorcase {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.earning_pharmabooking_list_item_1_doctorcase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_pharmabooking_navbar_logo_doctorcase {
    margin-left: 70px;
    margin-bottom: 20px;
    height: 25px;
    width: 100px;
}

.earning_pharmabooking_icons_bell_doctorcase {
    color: #8D98A4;
    width: 20px;
    height: 20px;
}

.earning_pharmabooking_phone_icon_doctorcase {
    color: white;
    width: 20px;
    height: 20px;
}

.earning_pharmabooking_list_item_1_dhacase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_pharmabooking_list_item_1_doctorcase_2 {
    background-color: #E40443;
    border-radius: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #F5F6F7;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_pharmabooking_jaydoctor_profile {
    padding-right: 3px;
}


/*############################### NAVBAR END ##############################*/


/*############################### MIDDLE 1ST SECTION #################################*/

.earning_profile_documnet_labdetailedit_pharma_edit_basic {
    width: 100%;
    margin-top: -10px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading_basic h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading2_basic_base {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    margin-top: -20px;
    border-bottom: 1px solid #E1E5E8;
}

.earning_profile_documnet_labdetailedit_pharma_arrow_edit_basic {
    color: #1A1C1F;
    text-align: center;
    padding-top: 3px;
    padding-right: 10px;
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading2_basic_2 {
    margin-top: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #E40443;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading2_document_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.earning_profile_documnet_labdetailedit_pharma_edit_heading2_info_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_profile_documnet_labdetailedit_pharma_edit_document_basic {
    text-decoration: none;
}


/*############################ MIDDLE END 2ND SECTION #################################*/


/*################################## MIDDLE 2nd SECTION START ##############################*/

.earning_labdetails_pharma_detail2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1240px;
    margin-left: 80px;
    align-items: center;
    border-radius: 8px;
}

.earning_labdetails_pharma_detail2_profile {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px;
}

.earning_labdetails_pharma_detail2_profile_name {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    margin-top: 20px;
}

.earning_labdetails_pharma_detail2_profile_name p {
    color: #E40443;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -2px;
}

.earning_labdetails_pharma_detail2_profile_status {
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    height: 60px;
    color: #1A1C1F;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail2_profile_status p {
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-right: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.earning_labdetails_pharma_detail2_box {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    color: #E40443;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail2_box p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.earning_labdetails_pharma_detail2_boxes {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #1A1C1F;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail2_boxes p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.earning_labdetails_pharma_detail2_boxer {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail2_boxer p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.earning_labdetails_pharma_detail2_boxex {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail2_calling {
    background: #3EB655;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*######################### MIDDLE 2nd SECTION END ##############################*/

.earning_container_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 70px;
    border-bottom: 1px solid #E1E5E8;
    height: 32px;
    margin-top: 20px;
}

.earning_container_3_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.earning_container_3_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.earning_3_2_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
}

.earning_3_2_third {
    border: 1px solid #DDDDDD;
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.earning_3_2_second {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_3_2_fourth {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_container_3_1_right {
    margin-left: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_container_3_1_left {
    color: #1A1C1F;
    border-bottom: 1px solid #E40443;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.earning_3_2_first {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E40443;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


/*########################### Last Box ###########################*/

.earning_labdetails_pharma_detail3_last_one_last {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
    width: 484px;
    margin-left: 70px;
}

.earning_labdetails_pharma_detail3_last_one_last_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E3E6E8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.earning_labdetails_pharma_detail3_last_one_last_1 ul li {
    list-style: none;
    margin-right: 30px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #1A1C1F;
    font-family: 'Montserrat', sans-serif;
}

.earning_labdetails_pharma_detail3_view_details {
    color: #E40443;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

.earning_labdetails_pharma_detail3_last_one_last_1 ul li button {
    background: #E5FFF2;
    border-radius: 40px;
    border: none;
    color: #41B079;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


/* ################### PAGINATION ############### */

.earning_labdetails_pharma_detail3_pagination_pag {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.earning_labdetails_pharma_detail3_pagination_pag a {
    background-color: white;
    color: linear-gradient(0deg, #F1F1F1, #F1F1F1), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    border: 1px solid #F1F1F1;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.earning_labdetails_pharma_detail3_pagination_pag a.earning_labdetails_pharma_detail3_anchi_pag_active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.earning_labdetails_pharma_detail3_arr {
    padding-top: 3px;
}

.earning_labdetails_pharma_detail3_less_pag {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}

.earning_link {
    text-decoration: none;
}