.completedquotationlab_addquotation4_bookingcase_middle_container_dha_case_details {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
    padding-top: 30px;
}

.completedquotationlab_addquotation4_bookingcase_middle_container_heading_dha_case_details {
    display: flex;
    justify-content: center;
    width: 100%;
}

.completedquotationlab_addquotation4_bookingcase_middle_container_heading_1_dha_case_details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 80px;
}

.completedquotationlab_addquotation4_bookingcase_middle_container_heading_1_dha_case_details h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.completedquotationlab_addquotation4_arr_div {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completedquotationlab_addquotation4_bookingcase_details_arrow_case_dha {
    height: 24px;
    width: 24px;
    color: #1A1C1F;
}

.completedquotationlab_addquotation4_bookingcase_third_container_dha_case_details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.completedquotationlab_addquotation4_bookingcase_third_container_left_dha_case_details {
    background-color: white;
    margin-left: 80px;
    width: 790px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.completedquotationlab_addquotation4_bookingcase_third_container_right_dha_case_details {
    background-color: white;
    margin-right: 70px;
    width: 380px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEF0F3
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_profile img {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info ul li {
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info_2_1 {
    width: 36px;
    height: 36px;
    padding: 0px, 24px, 0px, 24px;
    border-radius: 8px;
    gap: 12px;
    background: #FCE6EC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info_2_2 {
    width: 36px;
    height: 36px;
    padding: 0px, 24px, 0px, 24px;
    border-radius: 8px;
    gap: 12px;
    background: #FCE6EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info_2_1_icon {
    color: #E40443;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_details_userprofile_info_2_1_icon1 {
    color: #E40443;
}

.completedquotationlab_addquotation4_bookingcase_dha_li_1_case {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: 5px;
}

.completedquotationlab_addquotation4_bookingcase_dha_li_2_case {
    font-size: 16px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.completedquotationlab_addquotation4_bookingcase_dha_li_3_case {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #5B6572;
    margin-top: 4px;
}

.completedquotationlab_addquotation4_bookingcase_dha_li_4_case {
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_service_type {
    display: flex;
    justify-content: flex-start;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #EEF0F3
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_service_name {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_service_name h3 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_service_name p {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_symptom {
    border-bottom: 1px solid #EEF0F3
}

.completedquotationlab_addquotation4_bookingcase_dha_case_deatil_symptom_1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_symptom_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_symptom_left_1 {
    border: 1px solid #DBDDDF;
    border-radius: 8px;
    width: 95px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #040404;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_symptom_right button {
    background: #E40443;
    border-radius: 8px;
    width: 131px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 10px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_complet {
    border-bottom: 1px solid #EEF0F3;
    height: 70px;
    width: 100%;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_completion p {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_time {
    display: flex;
    margin-top: -20px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_time_1 {
    margin-left: 20px;
    width: 361px;
    display: flex;
}

.completedquotationlab_addquotation4_bookingcase_calen {
    text-align: center;
    padding-top: 3px;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_time_2 {
    text-align: left;
    display: flex;
}

.completedquotationlab_addquotation4_bookingcase_dha_case_detail_clock {
    text-align: center;
    padding-top: 3px;
    padding-right: 5px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_left {
    width: 40px;
    height: 150px;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    border-left: 2px dashed #E40443;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_container_1 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_container_2 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_check_mark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_container_3 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_container_4 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_container_5 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_right {}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_right_5 {
    width: 685px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_right_2_up {
    width: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_content_2 {
    display: grid;
    justify-content: flex-start;
    width: 650px;
    margin-top: -10px;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_content_2 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #1A1C1F;
}

.completedquotationlab_addquotation4_lab_pharmabooking_doctor_case_detail_para_content_2 p {
    color: #5B6572;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.completedlabdetails_btn button {
    width: 200px;
    height: 36px;
    background: #E40443;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completedlabdetails_btn {
    margin-left: 20px;
    margin-top: 20px;
}


/*################## Right Side Container ##################### */

.completedquotationlab_addquotation4_bookingcase_third_container_right_dha_case_details {
    height: 250px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first {
    border-radius: 16px;
    background-color: white;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_1 {
    margin-left: 20px;
    margin-top: 20px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_1 h2 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    height: 16px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_2 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_list {
    list-style: none;
    color: #8D98A4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: -20px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_item {
    list-style: none;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_3 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_4 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_5 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_6 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.completedquotationlab_bookingdoctorcase_third_container_right_case_details_first_7 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}