/* ################## CSS IN Bookingrequestdha.css file #######################*/


/* ############ NON Urgent Case Box And Card Upper Part Css In Bookingdhastandalone.css In Booking Request Folder ########## */


/*######################## card 2nd portion css here ############## */

.pendingdha_bookingrequest_lab_card_2_standalone_dhahospital1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pendingdha_bookingrequest_lab_card_2_left_standalone_dhahospital1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pendingdha_bookingrequest_lab_card_2_right_standalone_dhahospital1 {
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.pendingdha_card_2_up_standalone_dhahospital1 button {
    background-color: linear-gradient(0deg, #41B079, #41B079), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    width: 81px;
    height: 20px;
    border-radius: 24px;
    color: #41B079;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
}


/*##################### CSS FOR CALENDAR AND CLOCK ################ */

.dhahospital1_calen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #5B6572;
}

.dhahospital1_clock {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B6572;
}


/* ############ Dropdown Sort by css file in Bookingrequestdha.css ################# */