/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */


/* ############# Link{Routes} CSS DHA Doctor Pharmacy Lab ##################### */

.doctor_hospital_pendingdoctor_bookingrequest_lab_card_2_left {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.doctor_hospital_pendingdoctor_bookingrequest_lab_card_2_right {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.doctor_hospital_pendingdha_card_2_up button {
    background-color: linear-gradient(0deg, #41B079, #41B079), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    width: 81px;
    height: 20px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41B079;
}