/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */


/* ############# Link{Route} CSS DHA Doctor Pharmacy Lab in Pendingdoctorhospital.css 

                  In Booking Pending Folder 

                                 ##################### */


/* ################### CARD 2nd and Last div  Css IN Bookingdoctorhospital.css file In 

                        Booking Pending Folder

###################### */

.pendingdha_card_2_up_doctorhospital1 button {
    background-color: linear-gradient(0deg, #41B079, #41B079), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    width: 81px;
    height: 20px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41B079;
}