/* ################## CSS IN Bookingrequestdha.css file #######################*/


/* ############### Card 2nd Portion Css in Bookingpendingdha.css in Booking pending Folder ############ */


/*######## Link{Route} css DHA DOCTOR PHARMACY LAB START in Pendinglab.css file  In

                                Booking pending folder



################# */


/*##################### CSS FOR CALENDAR AND CLOCK ################ */

.labhospital_calen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #5B6572;
}

.labhospital_clock {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B6572;
}


/* ################ Dropdown Sort by Css File in Bookingrequestdha.css ################## */