/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */


/* #################### Card CSS in Pendingpharmacy.css file In Booking Pending Folder ######### */


/* ########## Link {Routes} DHA PHARMACY DOCTOR LAB in Pendingpharmacy.css file in

                                        Booking Pending Folder 


                                        ################## */

.pendingpharmacy_pendingdha_card_2_up_pharmacy_hospital button {
    background-color: linear-gradient(0deg, #41B079, #41B079), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    width: 81px;
    height: 20px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #41B079;
}

.dropdown_content_drop {
    position: absolute;
    top: 250px;
    padding: 10px;
    background: white;
    color: #333;
}

.dropdown_item_drop {
    padding: 10px;
    cursor: pointer;
}