.addrole {
    background-image: url('../Assets/image\ 217.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.addrole_container {
    background: #FFFFFF;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.addrole_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 540px;
}

.addrole_container_1_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1A1C1F;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.addrole_container_1_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #E40443;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


/*################################### FORM STARTED ##########################*/

.addrole_form {}

.addrole_form_1 {
    width: 540px;
    align-items: center;
}

.addrole_form_label {
    color: #8D98A4;
    width: 540px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addrole_form_select {
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    height: 44px;
    width: 540px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.addrole_form_select option {
    height: 40px;
    border-radius: 6px;
    padding: 8px 24px 8px 24px;
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addrole_form_select option:hover {
    background: #E40443;
    color: white;
}

.addrole_form_2 {
    margin-top: 10px;
    width: 540px;
    align-items: center;
}

.addrole_form_label_1 {
    color: #8D98A4;
    width: 540px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addrole_form_input {
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    height: 88px;
    margin-top: 5px;
    width: 100%;
}

.addrole_form_3 {
    width: 540px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid #E1E5E8;
    border-radius: 12px;
}

.addrole_form_3_1 {
    border-bottom: 1px solid #E1E5E8;
    background: linear-gradient(0deg, #E1E5E8, #E1E5E8), linear-gradient(0deg, #ECEFF3, #ECEFF3);
    height: 46px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    border-top: none;
}

.addrole_form_3_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E1E5E8;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #5B6572;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.addrole_btn {
    background: #E40443;
    height: 44px;
    width: 162px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addrole_inp {
    background: #E40443;
}

.addrole_input_inp {
    color: #5B6572;
}