.addsubadmincompleted {
    background-image: url('../Assets/image\ 217.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.addsubadmincompleted_container {
    background: #FFFFFF;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.addsubadmincompleted_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 536px;
}

.addsubadmincompleted_container_1_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1A1C1F;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.addsubadmincompleted_container_2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.addsubadmincompleted_container_2_1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #E40443;
    color: white;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addsubadmincompleted_container_2_2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #E40443;
    color: white;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addsubadmincompleted_container_2_progress {
    position: absolute;
    height: 4px;
    border-radius: 6px;
    width: 100%;
    background: #EEF0F3;
}

.addsubadmincompleted_container_2_indicator {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E40443;
}

.addsubadmincompleted_form_3 {
    width: 540px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid #E1E5E8;
    border-radius: 12px;
}

.addsubadmincompleted_form_3_1 {
    border-bottom: 1px solid #E1E5E8;
    background: linear-gradient(0deg, #E1E5E8, #E1E5E8), linear-gradient(0deg, #ECEFF3, #ECEFF3);
    height: 46px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    border-top: none;
}

.addsubadmincompleted_form_3_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E1E5E8;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #5B6572;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.addsubadmincompleted_btn {
    background: #E40443;
    height: 44px;
    width: 162px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
}