.manage_role {
    background-image: url('../Assets/image\ 217.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.manage_role_container {
    background: #FFFFFF;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.manage_role_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 540px;
}

.manage_role_container_1_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1A1C1F;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.manage_role_container_2_1 {
    margin-top: 30px;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.manage_role_container_2_2 {
    border: 1px solid #EEF0F3;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #EEF0F3, #EEF0F3);
    border-radius: 8px;
    height: 48px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.manage_role_container_2_2_left {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.manage_role_container_2_2_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.manage_role_container_2_first_icon {
    margin-right: 10px;
}

.manage_role_contain_icon_inner {
    color: #41B079;
}

.manage_role_contain_icon_inner_2 {
    color: #F1614B;
}

.manage_role_btn {
    background: #E40443;
    height: 44px;
    width: 162px;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.managerole_link {
    text-decoration: none;
}