.Role_management {
    width: 100%;
}

.middle_section_doctor_role {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}


/*##################### HEADER DHA MANAGEMENT ####################*/

.heading_doctor_role {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin-left: 80px;
}

.heading_content_doctor_role {
    display: flex;
    justify-content: flex-start;
}

.heading_content_doctor_role h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_logo_doctor_role {
    padding-right: 10px;
}

.heading_content_doctor_2_role {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.doctor_btn_1_role {
    height: 36px;
    margin-top: 10px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-left: 30px;
    margin-right: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor_btn_2_role {
    height: 36px;
    width: 137px;
    margin-top: 10px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_doctor_btn_role {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.link_role {
    text-decoration: none;
    list-style: none;
}


/*######################### TABLE #######################*/

.dha_doctor_table_role {
    border-collapse: collapse;
    margin-left: 80px;
    width: 90%;
    font-size: 0.9em;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.dha_doctor_table_role thead tr {
    width: 250px;
    background: linear-gradient(0deg, #E3E6E8, #E3E6E8), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    text-align: left;
    border-bottom: 1px solid #E3E6E8;
}

.dha_doctor_table_role th {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
}

.dha_doctor_table_role td {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.dha_doctor_table_role tbody tr {
    border-bottom: 1px solid #E3E6E8;
    background-color: white;
    height: 60px;
}

.doctor_user_prof_role {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    background: #D9D9D9;
    align-items: center;
}

.doctor_data_user_prof_role {
    display: flex;
}

.dha_doctor_table_btn_1_role {
    border-radius: 24px;
    background: #FFE9E6;
    border: none;
    height: 22px;
    width: 58px;
    color: #F1614B;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.dha_doctor_table_btn_2_role {
    border-radius: 24px;
    background: #D1EDD6;
    border: none;
    height: 22px;
    width: 58px;
    color: #3EB655;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif
}

.role_management_all_icon {
    display: flex;
}

.role_management_1_icon {
    background: #5CB1FF;
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.role_management_2_icon {
    background: #41B079;
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
}

.role_management_3_icon {
    background: #F1614B;
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
}


/*################# Pagination ################# */

.pagination_doctor_role {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.pagination_doctor_role a {
    background-color: white;
    color: linear-gradient(0deg, #F1F1F1, #F1F1F1), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination_doctor_role a.anch_active_role {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.Link_role {
    color: #E40443;
}

.less_doctor_role {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}