.profile_labdetailedit_pharma_edit_basic {
    width: 100%;
    margin-top: -10px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.profile_labdetailedit_pharma_form_basic {
    display: grid;
    justify-content: center;
    align-items: center;
}

.profile_labdetailedit_pharma_edit_heading_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
}

.profile_labdetailedit_pharma_edit_heading_basic h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.profile_labdetailedit_pharma_userprofile_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.profile_labdetailedit_pharma_userprofile_box_basic {
    background: #FFFFFF;
    width: 450px;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.profile_labdetailedit_pharma_userprofile_box_2_basic {
    width: 430px;
    gap: 24px;
}

.profile_labdetailedit_pharma_userprofile_box_2_userprofile_basic {
    width: 413px;
    display: flex;
}


/*############################### NEW ###################### */

.profile_image_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEF0F3;
    height: 80px;
    width: 390px;
}

.profile_image_container_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profile_image_container_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.profile_image_container_1_left {
    position: relative;
}

.profile_image_container_1_right {
    margin-left: 20px;
    display: grid;
}

.image_icon_profile {
    position: absolute;
    left: 12px;
    top: 20px;
}

.image_img_profile {}

.profile_image_container_1_right_span1 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.profile_image_container_1_right_span2 {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.profile_image_container_2_1 {
    background: #F5F6F7;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_para_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEF0F3;
    height: 60px;
    width: 390px;
}

.profile_para_container_left {
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.profile_para_container_left_2 {
    margin-left: 20px;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.profile_para_container_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile_para_container_right_1 {
    background: #F5F6F7;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}