/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */


/* ############# Link{Route} CSS DHA Doctor Pharmacy Lab in Pendingdoctorhospital.css 

                  In Booking Pending Folder 

                                 ##################### */


/* ################### CARD 2nd and Last div  Css IN Bookingdoctorhospital.css file In 

                        Booking Pending Folder

###################### */

.rejectdoctorhospital1_pendingdha_card_2_up_doctorhospital1 button {
    background: #FDC2C2;
    color: #F50202;
    width: 70px;
    height: 20px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*##################### CSS FOR CALENDAR AND CLOCK ################ */

.rejectdoctorhospital1_calen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #5B6572;
}

.rejectdoctorhospital1_clock {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B6572;
}