/* ################## CSS IN Bookingrequestdha.css file #######################*/


/* ############### Card 2nd Portion Css in Bookingpendingdha.css in Booking pending Folder ############ */


/*######## Link{Route} css DHA DOCTOR PHARMACY LAB START in Pendinglab.css file  In

                                Booking pending folder



################# */

.rejectlabhospital_pendingdha_card_2_up button {
    background: #FDC2C2;
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F50202;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


/*##################### CSS FOR CALENDAR AND CLOCK ################ */

.rejectlabhospital_calen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #5B6572;
}

.rejectlabhospital_clock {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B6572;
}