/*################## CSS FILE in Completeaddquotation.css in Completebooking Folder ################# */

.rejectedadd_quotation_btn {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #FFB2B2;
    width: 70px;
    height: 18px;
    color: #FF0606;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejectaddquotation_completedquotation_addquotation4_bookingcase_third_container_left_dha_case_details {
    background-color: white;
    margin-left: 80px;
    width: 790px;
    height: 320px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.rejectaddquotation_back {
    color: black;
}