/* ################## CSS IN Bookingrequestdha.css file #######################*/


/*######################## card 2nd portion css here ############## */

.pendingdha_bookingrequest_lab_card_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendingdha_bookingrequest_lab_card_2_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingdha_bookingrequest_lab_card_2_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingdha_card_2_up button {
    background: #FDF0CC;
    width: 68px;
    height: 20px;
    border-radius: 24px;
    color: #1A1C1F;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
}


/*################################## NON URGENT CASE BOX CSS ############################# */

.bookingrequest_pharmacy_management_container_4_urgent_pendingdha {
    width: 169px;
    border: 1px solid #B3B3B3;
    background: #B3B3B3;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}