/* ################## CSS IN Bookingrequestdha.css file #######################*/


/*######################## card 2nd portion css here ############## */

.pendingdha_bookingrequest_lab_card_2_standalone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pendingdha_bookingrequest_lab_card_2_left_standalone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pendingdha_bookingrequest_lab_card_2_right_standalone {
    align-items: center;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.pendingdha_card_2_up_standalone button {
    background: #FDF0CC;
    width: 68px;
    height: 20px;
    border-radius: 24px;
    color: #1A1C1F;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
}


/*################################## NON URGENT CASE BOX CSS ############################# */

.bookingrequest_pharmacy_management_container_4_urgent_pendingdha_standalone {
    width: 169px;
    border: 1px solid #B3B3B3;
    background: #B3B3B3;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28px;
}

.pendingdha_standalone_card_upper_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.pendingdha_standalone_card_upper_2_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #E40443;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.pendingdha_standalone_card_upper_2_right button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #E40443;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 57px;
    height: 16px;
    border-radius: 2px;
    border: none;
}

.pendingdha_standalone_card_upper_2_right_1 button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #E40443;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 76px;
    height: 16px;
    border-radius: 2px;
    border: none;
}


/* ##################### Dropdown Down CSS in Bookingpendingdha.css file ###################### */