/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */

.bookingrequest_pharmacy_management_container_2_pendingpharma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #E1E5E8;
}

.bookingrequest_pharmacy_management_container_2_1_pendingpharma {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bookingrequest_pharmacy_management_container_2_2_pendingpharma {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bookingrequest_pharmacy_management_icon_pendingpharma {
    margin-left: 10px;
}

.bookingrequest_pharmacy_management_container_2_p_1_pendingpharma {
    font-size: 16px;
    color: #8D98A4;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_pharmacy_management_container_2_p_2_pendingpharma {
    margin-left: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_pharmacy_management_container_2_p_3_pendingpharma {
    margin-left: 20px;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #E40443;
}

.bookingrequest_pharmacy_management_container_2_p_4_pendingpharma {
    margin-left: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_medicine_link_pendingpharma {
    text-decoration: none;
}


/* ################### Card Started CSS ################### */

.pendingpharmacy_pendingdoctor_bookingrequest_lab_card_2_left {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pendingpharmacy_pendingdha_card_2_up button {
    color: #7C67FB;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 24px;
    height: 22px;
    width: 73px;
}

.pendingpharmacy_card_last_div {}

.pendingpharmacy_card_last_div_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 58px;
}

.pendingpharmacy_card_last_div_1_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #040404;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingpharmacy_card_last_div_1_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #040404;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingpharmacy_pendingdha_card_2_up_2 button {
    color: #7C67FB;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 24px;
    width: 134px;
    height: 22px;
}

.pendingpharmacy_last_div_btn {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingpharmacy_last_div_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E40443;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    height: 32px;
    width: 348px;
}


/*############## CARD CALENDAR AND CLOCK ICON CSS ############### */

.pendingpharmacy_calen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #5B6572;
}

.pendingpharmacy_clock {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B6572;
}


/* ################ Dropdown Sort by css in Bookingrequestdha.css ##################### */