/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */

.pendingdoctor_bookingrequest_lab_card_2_left {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pendingdoctor_bookingrequest_lab_card_2_right {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}


/* ############# Link CSS DHA Doctor Pharmacy Lab ##################### */

.bookingrequest_pharmacy_management_container_2_pendingdoctor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #E1E5E8;
}

.bookingrequest_pharmacy_management_container_2_1_pendingdoctor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bookingrequest_pharmacy_management_container_2_2_pendingdoctor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bookingrequest_pharmacy_management_icon_pendingdoctor {
    margin-left: 10px;
}

.bookingrequest_pharmacy_management_container_2_p_1_pendingdoctor {
    font-size: 16px;
    color: #8D98A4;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_pharmacy_management_container_2_p_2_pendingdoctor {
    margin-left: 10px;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #E40443;
}

.bookingrequest_pharmacy_management_container_2_p_3_pendingdoctor {
    margin-left: 10px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_pharmacy_management_container_2_p_4_pendingdoctor {
    margin-left: 10px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequest_medicine_link_pendingdoctor {
    text-decoration: none;
}