/* #################### CSS File in Bookingpendingdha.css in Bookingpending Folder ################ */

.pendingdoctor_bookingrequest_lab_card_2_left {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pendingdoctor_bookingrequest_lab_card_2_right {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}