/*################################ MID TOP SECTION START ############################*/

.pendingcasecompleted_middle_container_doctor_pending_details {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
    padding-top: 30px;
}

.pendingcasecompleted_middle_container_heading_doctor_pending_details {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pendingcasecompleted_middle_container_heading_1_doctor_pending_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 80px;
}

.pendingcasecompleted_middle_container_heading_1_doctor_pending_details h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_arrdoctor_div_pending {
    margin-top: 20px;
    margin-right: 10px;
}

.pendingcasecompleted_details_arrow_pending_doctor {
    height: 24px;
    width: 24px;
    color: #1A1C1F;
}


/*############################ MID TOP SECTION END #########################*/


/*######################### MID THIRD SECTION START #########################*/

.pendingcasecompleted_third_container_doctor_pending_details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.pendingcasecompleted_third_container_left_doctor_pending_details {
    background-color: white;
    margin-left: 80px;
    width: 790px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.pendingcasecompleted_third_container_right_doctor_pending_details {
    background-color: white;
    margin-right: 70px;
    width: 380px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.pendingcasecompleted_doctor_pending_details_userprofile {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #EEF0F3
}

.pendingcasecompleted_doctor_pending_details_userprofile_profile {
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_details_userprofile_info ul li {
    list-style: none;
    text-decoration: none;
}

.pendingcasecompleted_doctor_li_1_pending {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: 5px;
}

.pendingcasecompleted_doctor_li_2_pending {
    font-size: 16px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.pendingcasecompleted_doctor_li_3_pending {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #5B6572;
    margin-top: 4px;
}

.pendingcasecompleted_doctor_li_4_pending {
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
}

.pendingcasecompleted_doctor_pending_detail_complet {
    border-bottom: 1px solid #EEF0F3;
    height: 70px;
    width: 100%;
}

.pendingcasecompleted_doctor_pending_detail_completion p {
    color: #41B079;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_detail_time {
    display: flex;
    margin-top: -20px;
}

.pendingcasecompleted_doctor_pending_detail_time_1 {
    margin-left: 20px;
    width: 361px;
    display: flex;
}

.pendingcasecompleted_calen_doctor_pending {
    text-align: center;
    padding-top: 3px;
}

.pendingcasecompleted_doctor_pending_detail_time_2 {
    text-align: left;
    display: flex;
}

.pendingcasecompleted_doctor_pending_detail_clock {
    text-align: center;
    padding-top: 3px;
    padding-right: 5px;
}

.pendingcasecompleted_doctor_pending_detail_symptom {
    border-bottom: 1px solid #EEF0F3
}

.pendingcasecompleted_doctor_pending_deatil_symptom_1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.pendingcasecompleted_doctor_pending_detail_symptom_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.pendingcasecompleted_doctor_pending_detail_symptom_left_1 {
    border: 1px solid #DBDDDF;
    border-radius: 8px;
    width: 95px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #040404;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pendingcasecompleted_doctor_pending_detail_symptom_right button {
    background: #E40443;
    border-radius: 8px;
    width: 131px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 10px;
}

.pendingcasecompleted_doctor_pending_detail_service_type {
    display: flex;
    justify-content: flex-start;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #EEF0F3
}

.pendingcasecompleted_doctor_pending_detail_service_name {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_detail_service_name h3 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_service_name p {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
}

.pendingcasecompleted_doctor_pending_detail_para {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_left {
    width: 40px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.pendingcasecompleted_doctor_pending_detail_container_1 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 8px;
}

.pendingcasecompleted_doctor_pending_detail_container_2 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_check_mark_pending {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
}

.pendingcasecompleted_doctor_pending_detail_container_3 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 115px;
}

.pendingcasecompleted_doctor_pending_detail_container_4 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 55px;
}

.pendingcasecompleted_doctor_pending_detail_container_5 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_container_6 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_container_7 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_container_8 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_container_9 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_para_right_1 {
    height: 297px;
    border: 0px, 0px, 1px, 0px;
    gap: 20px;
    border-left: 2px dashed #E40443;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_1_up {
    height: 42px;
    width: 685px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_para_content {
    display: grid;
    justify-content: flex-start;
    width: 650px;
}

.pendingcasecompleted_doctor_pending_detail_para_content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1C1F;
}

.pendingcasecompleted_doctor_pending_detail_para_content p {
    margin-top: -20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_icon {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 24px;
    background: #1A1C1F;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_1_down {
    height: 215px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left {
    width: 365px;
    height: 184px;
    margin-top: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_right {
    width: 274px;
    height: 215px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left h4 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left p {
    color: #5B6572;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_main_right h4 {
    width: 107px;
    height: 16px;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_right_2 {
    border-left: 2px dashed #E40443;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_2_up {
    width: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_para_content_2 {
    display: grid;
    justify-content: flex-start;
    width: 650px;
}

.pendingcasecompleted_doctor_pending_detail_para_content_2 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1C1F;
}

.pendingcasecompleted_doctor_pending_detail_para_content_2 p {
    color: #5B6572;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.pendingcasecompleted_doctor_pending_detail_para_right_2_down {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left_2_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left_2_left img {
    height: 44px;
    width: 44px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left_1_left ul li {
    list-style: none;
    margin-left: -20px;
}

.pendingcasecompleted_doctor_pending_deatil_list {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_list_item {
    color: #E40443;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left_right {
    display: flex;
    justify-content: flex-end;
    width: 400px;
}

.pendingcasecompleted_doctor_pending_detail_para_main_left_right ul li {
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: right;
    margin-left: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_3 {
    border-left: 2px dashed #E40443;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_3_up {
    width: 685px;
    height: 42px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_4 {
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_head {}

.pendingcasecompleted_doctor_pending_detail_para_bottom_head h3 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_mid {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_mid_left {
    display: flex;
    justify-content: flex-start;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_mid_right {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.pendingcasecompleted_doctor_pending_detail_call {
    padding-top: 3px;
    text-align: center;
    padding-right: 5px;
    color: #1A1C1F;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_mid_left_list ul li {
    list-style: none;
    margin-left: -20px;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_bot button {
    background: #E40443;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 213px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-left: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pendingcasecompleted_doctor_pending_detail_para_bottom_mid_left img {
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-left: 10px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_5 {
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_6 {
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_6_up {
    width: 685px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingcasecompleted_doctor_case_detail_para_right_6_down_down ul {
    margin-left: -20px;
}

.pendingcasecompleted_doctor_case_detail_para_right_6_down_down ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1C1F;
    margin-top: 10px;
}

.pendingcasecompleted_doctor_case_detail_para_right_6_down_down {}

.pendingcasecompleted_doctor_case_detail_para_right_6_down p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    height: 14px;
}

.pendingcasecompleted_doctor_case_detail_para_right_6_down {}

.pendingcasecompleted_doctor_pending_detail_para_right_7 {
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_8 {
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_9 {
    height: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 2px dashed #EEF0F3;
    margin-left: 17px;
}

.pendingcasecompleted_doctor_pending_detail_para_right_9_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 685px;
    height: 42px;
    margin-bottom: 20px;
}

.pendingcasecompleted_doctor_prescription {
    color: #1A1C1F;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pendingcasecompleted_5_2 {
    border-bottom: 2px solid #E3E6E8;
    margin-left: 30px;
}


/*######################### RIGHT SIDE ###########################*/

.pendingcasecompleted_third_container_right_doctorpending_details_first {
    border-radius: 16px;
    background-color: white;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_1 {
    margin-left: 20px;
    margin-top: 20px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_1 h2 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    height: 16px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_2 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_list {
    list-style: none;
    color: #8D98A4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: -20px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_item {
    list-style: none;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_3 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_4 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_5 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_6 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.pendingcasecompleted_third_container_right_doctorpending_details_first_7 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}