.hero {
    background-image: url('../Assets/image 219.jpg');
    height: 100vh;
    background-size: contain;
    width: 100%;
}

.adddha {
    background: #FFFFFF;
    width: 550px;
    height: 95vh;
    position: absolute;
    margin-top: 20px;
    left: 28%;
    border-radius: 16px;
}

.adddha_header {
    width: 496px;
    margin-left: 25px;
}

.adddha_header_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.adddha_header_bar_1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E40443;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress_bar {
    position: absolute;
    height: 4px;
    width: 496px;
    background: #EEF0F3;
    top: 35px;
}

.indicator_bar {
    position: absolute;
    height: 100%;
    width: 62%;
    background-color: #E40443;
}

.adddha_header_bar_2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    background-color: #E40443;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddha_header_bar_3 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #EEF0F3;
    color: black;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddha_mid {
    width: 500px;
    margin-left: 20px;
}

.adddha_mid h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #1A1C1F;
    font-family: 'Montserrat', sans-serif;
}

.adddha_form_fill {
    width: 500px;
    align-items: center;
    height: 150px;
}

.adddha_form_fill_labi {
    width: 500px;
    height: 14px;
    padding: 0px, 3px, 0px, 3px;
    color: #8D98A4;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.adddha_form_fill_inp {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    margin-bottom: 2px;
}

.adddha_btn {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background: #E40443;
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    border: none;
}

.adddha_form_fill_inp_3 {
    display: none;
}

.adddha_file_up {
    height: 88px;
    width: 500px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #EEF0F3;
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}

.adddha_file_up i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 15px;
}

.adddha_file_up p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #5B6572;
    margin-top: -5px;
}

.adddha_form_fill_div {
    margin-bottom: 5px;
}