.adddha_success_1 {
    width: 550px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.hero {
    background-image: url('../Assets/image 219.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.adddha_success_box_1 {}

.adddha_success_box_logo_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddha_success_box_logo_1 img {
    width: 117px;
    height: 112px;
}

.adddha_success_box_para_1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.adddha_success_box_head {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddha_success_box_pi {
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: -20px;
}

.adddha_success_box_btn_1 {
    background: #FCE6EC;
    width: 410px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #E40443;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}