.management_manage {
    width: 100%;
}

.middle_section_manage {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}


/*##################### HEADER DHA MANAGEMENT ####################*/

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}

.heading_content {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.heading_content_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heading_content h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left_logo {
    padding-right: 10px;
    color: #1A1C1F;
    text-align: center;
    padding-top: 3px;
}

.management_btn_1 {
    height: 36px;
    width: 137px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.management_btn_2 {
    height: 36px;
    width: 137px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_btn {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}


/*######################### TABLE #######################*/

.dha_table {
    border-collapse: collapse;
    margin-left: 70px;
    width: 90%;
    font-size: 0.9em;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.dha_table thead tr {
    width: 250px;
    background: linear-gradient(0deg, #E3E6E8, #E3E6E8), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    text-align: left;
    border-bottom: 1px solid #E3E6E8;
}

.dha_table th {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
}

.dha_table tbody tr td {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
}

.dha_table tbody tr {
    border-bottom: 1px solid #E3E6E8;
    background-color: white;
    height: 60px;
}

.user_prof {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    background: #D9D9D9;
    align-items: center;
}

.data_user_prof {
    display: flex;
}

.dha_table_btn_1 {
    border-radius: 24px;
    background: #FFE9E6;
    border: none;
    height: 22px;
    width: 58px;
    color: #F1614B;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.dha_table_btn_2 {
    border-radius: 24px;
    background: #D1EDD6;
    border: none;
    height: 22px;
    width: 58px;
    color: #3EB655;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*################# Pagination ################# */

.pagination_manage {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.pagination_manage a {
    background-color: white;
    color: linear-gradient(0deg, #F1F1F1, #F1F1F1), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    border: 1px solid #F1F1F1;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination_manage a.anchi_active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.Link {
    color: #E40443;
}

.less {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}


/* ############## FOOTER ############ */

.footer_dha_manage {
    margin-top: -23px;
}

.dhamanagement_link {
    text-decoration: none;
    color: #1A1C1F;
}