.management {
    width: 100%;
}

.middle_section {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}


/*################# HEADER DHA REQUESTS ########################*/

.heading_box1 {
    margin-left: 70px;
    margin-right: 70px;
}

.heading_content_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading_content_box h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left_logo_arrow {
    color: #1A1C1F;
    text-align: center;
    padding-top: 3px;
    padding-right: 10px;
}


/*###################### TABLE #######################*/

.request_table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 70px;
    font-size: 0.9em;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.request_table thead tr {
    width: 250px;
    text-align: left;
    background: linear-gradient(0deg, #E3E6E8, #E3E6E8), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border-bottom: 1px solid #E3E6E8;
}

.request_table th {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
}

.request_table td {
    padding: 10px 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.request_table tbody tr {
    border-bottom: 1px solid #E3E6E8;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
}

.user_prof_2 {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    background: #D9D9D9;
}

.data_user_prof_2 {
    display: flex;
}


/*#################### PAGINATION ####################*/

.pag {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag a {
    background-color: white;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pag a.active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.left_1_arrow {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}


/*################# FOOTER ################*/

.footer_dha {
    margin-top: -21px;
}

.dharequest_link {
    text-decoration: none;
    color: #1A1C1F;
}