.footer_foot_container {
    max-width: 1250px;
    height: 390px;
    margin: auto;
}

.footer_foot {
    background: #B60336;
    padding: 5px 0;
}

.footer_foot_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 248px;
    margin-top: 50px;
}

.footer_foot_col {
    width: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.footer_foot_col img {
    height: 44px;
    width: 150px;
}

.footer_foot_col_head {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}

.footer_foot_col ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    list-style: none;
}

.footer_foot_col ul {
    margin-top: 30px;
}

.footer_foot p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.footer_foot_col ul li {
    color: white;
    padding-top: 1px;
    margin-top: 20px;
}

.footer_foot_col ul li p {
    font-size: 10px;
    margin-left: -50px;
}

.icon_phone {
    padding: 12px;
    color: #B60336;
    width: 16px;
    height: 16px;
}

.icon_div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -40px;
}

.icon_div_anch {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.icon_para {
    margin-top: 4px;
    padding-top: 5px;
}

.icon_para_2 {
    padding-right: 20px;
    padding-top: 5px;
}

.icon_div_para {
    height: 20px;
    margin-left: -90px;
    margin-right: 20px;
}

.icon_div_para a {
    margin-right: 70px;
}

.icon_div_para_ancor {
    margin-left: -50px;
}

.icon_insta {
    list-style: none;
    background-color: white;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    margin-left: -30px;
    margin-right: 30px;
}

.icon_insta_inst {
    color: #B60336;
    padding: 12px;
    width: 16px;
    height: 16px;
}

.all_icon {
    display: flex;
    justify-content: space-between;
}