.footer_foot_container {
    max-width: 1250px;
    margin: auto;
}

.footer_foot {
    background: #B60336;
    padding: 5px 0;
}

.footer_foot_row {
    display: flex;
    flex-wrap: wrap;
}

.footer_foot_col {
    width: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.footer_foot_col img {
    background-color: white;
}

.footer_foot_col_head {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}

.footer_foot_col ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    list-style: none;
}

.footer_foot p {
    font-size: 8px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -1px;
    margin-top: -1px;
    text-align: center;
    color: white;
}

.footer_foot_col ul li {
    color: white;
    padding-top: 1px;
}

.footer_foot_col ul li p {
    font-size: 10px;
    margin-left: -50px;
}

.icon_phone {
    padding: 7px;
    color: #B60336;
}

.icon_div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon_div_anch {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.icon_para {
    margin-top: 1px;
}

.icon_div_para {
    height: 20px;
}

.icon_insta {
    list-style: none;
    background-color: white;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    margin-right: 30px;
}

.icon_insta_inst {
    color: #B60336;
    padding: 7px;
}

.all_icon {
    display: flex;
    justify-content: space-between;
}