/*############## Navbar Start ##################*/

.bookingrequestsdoctor_pharmabooking_navbar_doctorcase_lab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.bookingrequestsdoctor_pharmabooking_nav_links_doctorcase_lab {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 50px;
}

.bookingrequestsdoctor_pharmabooking_list_item_doctorcase_lab {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.bookingrequestsdoctor_pharmabooking_list_item_1_doctorcase_lab {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_pharmabooking_navbar_logo_doctorcase_lab {
    margin-left: 70px;
    margin-bottom: 20px;
    height: 25px;
    width: 100px;
}

.bookingrequestsdoctor_pharmabooking_icons_bell_doctorcase_lab {
    color: #8D98A4;
    width: 20px;
    height: 20px;
}

.bookingrequestsdoctor_pharmabooking_phone_icon_doctorcase_lab {
    color: white;
    width: 20px;
    height: 20px;
}

.bookingrequestsdoctor_pharmabooking_list_item_1_dhacase_lab {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_pharmabooking_list_item_1_doctorcase_2_lab {
    background-color: #E40443;
    border-radius: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #F5F6F7;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_pharmabooking_jaydoctor_profile_lab {
    padding-right: 3px;
}


/*############################### NAVBAR END ##############################*/

.navbars_link {
    text-decoration: none;
    list-style: none;
}