.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    margin-right: 50px;
}

.list_item {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.list_item_2 {
    margin-left: 5px;
    padding-right: 20px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: grid;
}

.list_item_2 p {
    text-align: center;
}

.list_item_span {
    margin-top: -10px;
}

.list_item_1 {
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    list-style: none;
    color: #38404A;
}

.navbar_logo {
    margin-left: 70px;
    height: 36px;
    width: 123px;
}

.icons_bell {
    color: #8D98A4;
    height: 32px;
    width: 20px;
}

.navbar_logo img {
    width: 123px;
    height: 36px;
}

.list_item_1_select {
    border: none;
}

.dropdown {}

.dropdown_btn {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
}

.dropdown_content {
    position: absolute;
    top: 100px;
    padding: 10px;
    background: white;
}

.dropdown_item {
    padding: 10px;
    cursor: pointer;
    color: #1A1C1F;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.dropdown_nav_link {
    text-decoration: none;
}

.navbar_link_tag {
    text-decoration: none;
}