.blockpharma_adddha_success_block {
    width: 550px;
    height: 340px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.blockpharma_hero_block {
    background-image: url('../Assets/image\ 219.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.adddha_success_box_block {}

.blockpharma_adddha_success_box_logo_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockpharma_adddha_success_box_logo_block img {
    width: 117px;
    height: 112px;
}

.blockpharma_adddha_success_box_para_block {
    display: grid;
    justify-content: center;
    align-items: center;
}

.blockpharma_adddha_success_box_head_block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
}

.blockpharma_adddha_success_box_pi_block {
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.blockpharma_blockdha_btn_div_block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockpharma_blockdha_btn_1_block {
    margin-left: 1px;
    margin-right: 10px;
    width: 200px;
    height: 44px;
    border: none;
    background: #DCDCDC;
    border-radius: 8px;
    color: #939191;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.blockpharma_blockdha_btn_2_block {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 44px;
    border: none;
    background: #EA1414;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.blockpharma_cross {
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -12px;
    box-shadow: 0px 2px 4px 0px #A5A3AE4D;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: #939191;
}

.cross_link_blockpharma {
    color: #939191;
    text-decoration: none;
}