.pharma_navbar_document {
    width: 100%;
}

.pharma_document {
    width: 100%;
    height: 90vh;
    margin-top: -11px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.pharma_document_heading {
    width: 1200px;
    padding-left: 80px;
    padding-top: 1px;
}

.pharma_document_heading h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.pharma_document_heading2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    margin-top: -20px;
    border-bottom: 1px solid #E1E5E8;
}

.pharma_arrow_document {
    padding-right: 5px;
}

.pharma_document_link_head {
    color: #1A1C1F;
}

.pharma_document_heading2_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.pharma_basicdetails_link {
    text-decoration: none;
}

.pharma_document_heading2_document {
    margin-top: 20px;
    margin-right: 20px;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #E40443;
    font-family: 'Montserrat', sans-serif;
}

.pharma_document_heading2_info {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.pharma_document_userprofile {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
    margin-top: 10px;
}

.pharma_document_userprofile_box {
    background: #FFFFFF;
    width: 450px;
    border-radius: 16px;
    padding: 32px;
}

.pharma_document_userprofile_box_2 {
    width: 430px;
    gap: 24px;
}

.pharma_userprofile_form {
    margin-top: 5px;
    width: 430px;
}

.pharma_document_userprofile_form_input {
    margin-bottom: 10px;
}

.pharma_document_form_data {
    width: 100%;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    height: 22px;
    margin-bottom: 3px;
}

.pharma_document_save_btn {
    background: #41B079;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 40px;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.pharma_document_form_label {
    font-size: 12px;
    font-weight: 500;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
}

.pharma_document_form_1 {
    display: none;
    width: 430px;
}

.pharma_document_form_2 {
    width: 430px;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    height: 22px;
    padding-top: 8px;
    padding-bottom: 5px;
    align-items: end;
}

.pharma_attach_file {
    padding-left: 400px;
    padding-right: 20px;
}