.adddoctor_success_1 {
    width: 550px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    position: relative;
}

.hero_1 {
    background-image: url('../Assets/image 219.jpg');
    height: 100vh;
    background-size: contain;
    width: 100%;
}

.adddoctor_success_box_1 {}

.adddoctor_success_box_logo_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddoctor_success_box_logo_1 img {
    width: 117px;
    height: 112px;
}

.adddoctor_success_box_para_1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.adddoctor_success_box_head {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adddoctor_success_box_pi {
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: -20px;
}

.adddoctor_success_box_btn_1 {
    background: #FCE6EC;
    width: 410px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #E40443;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.adddoctorsuccess_cross {
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -12px;
    box-shadow: 0px 2px 4px 0px #A5A3AE4D;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: #939191;
}

.cross_link_adddoctorsuccess {
    color: #939191;
    text-decoration: none;
}