.doctor_requests {
    width: 100%;
}

.middle_section_doctor_requests {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}


/*################# HEADER DHA REQUESTS ########################*/

.heading_box1_requests {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: -7px;
}

.heading_content_box_requests {
    width: 800px;
    margin-right: 120px;
    padding-left: 80px;
}

.requests_btn_1 {
    height: 36px;
    width: 137px;
    margin-top: 20px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-left: 30px;
    margin-right: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
}

.requests_btn_2 {
    height: 36px;
    width: 137px;
    margin-top: 20px;
    background: #FCE6EC;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #E40443;
    font-weight: 600;
    font-size: 14px;
}


/*###################### TABLE #######################*/

.requests_table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 80px;
    font-size: 0.9em;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.requests_table thead tr {
    width: 250px;
    background: linear-gradient(0deg, #E3E6E8, #E3E6E8), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    text-align: left;
    color: #5B6572;
    border-bottom: 1px solid #E3E6E8;
}

.requests_table th {
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
}

.requests_table td {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
}

.requests_table tbody tr {
    border-bottom: 1px solid #E3E6E8;
    background-color: white;
    height: 60px;
}

.requests_user_prof_2 {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    background: #D9D9D9;
    align-items: center;
}

.requests_data_user_prof_2 {
    display: flex;
}

.requests_table_btn_1 {
    border-radius: 24px;
    background: #FFE9E6;
    height: 22px;
    width: 58px;
    border: none;
    color: #F1614B;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.requests_table_btn_2 {
    border-radius: 24px;
    background: #D1EDD6;
    height: 22px;
    width: 58px;
    border: none;
    color: #3EB655;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*#################### PAGINATION ####################*/

.pag_requests {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
}

.pag_requests a {
    background-color: white;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag_requests a.active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}


/*################# FOOTER ################*/