.management_doctor_details {
    width: 100%;
}


/*############################## MIDDLE 1st SECTION START ##########################*/

.middle_container_doctor_details {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}

.middle_container_heading_doctor_details {
    display: flex;
    justify-content: space-between;
}

.middle_container_heading_1_doctor_details {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
}

.middle_container_heading_1_doctor_details h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A1C1F;
}

.doctor_details_arrow {
    color: #1A1C1F;
    padding-right: 10px;
    padding-top: 5px;
}

.middle_container_doctor_detail_button {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.middle_container_btn_doctor_details {
    height: 36px;
    width: 100px;
    margin-top: 20px;
    background: #E40443;
    border-radius: 8px;
    border: none;
    margin-left: 30px;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

.middle_container_btn_doctor_icon1 {
    padding-right: 10px;
    align-items: center;
}

.middle_container_btn1_doctor_details {
    height: 36px;
    width: 100px;
    margin-top: 20px;
    background: #E40443;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

.middle_container_btn_doctor_icon {
    padding-right: 10px;
    align-items: center;
}


/*############################## MIDDLE 1st SECTION END ###########################*/


/*############################### MIDDLE 2nd SECTION START ##########################*/

.middle2_doctor_details {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1240px;
    margin-left: 80px;
    align-items: center;
    border-radius: 8px;
}

.middle2_doctor_details_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px;
}

.middle2_doctor_details_profile_name {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.middle2_doctor_details_profile_name span {
    color: #E40443;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.middle2_doctor_details_profile_status {
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    height: 60px;
    color: #1A1C1F;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.middle2_doctor_details_profile_status p {
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-right: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.middle2_box_doctor_details {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    color: #E40443;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.middle2_box_doctor_details p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.middle2_boxes_doctor_details {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #1A1C1F;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.middle2_boxes_doctor_details p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.middle2_boxer_doctor_details {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: left;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
}

.middle2_boxer_doctor_details p {
    color: #5B6572;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
}

.middle2_boxex_doctor_details {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #EEF0F3;
    height: 60px;
    text-align: center;
    margin-right: 20px;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.calling_doctor_details {
    background: #3EB655;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*################################ MIDDLE 2nd SECTION END #############################*/

.middle3_doctor_details {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: white;
    width: 1240px;
    margin-left: 80px;
    border-radius: 8px;
    margin-top: 10px;
}

.Container_doctor_details {
    margin-top: 1px;
    justify-content: left;
    margin-left: 15px;
}

.Container_doctor_details h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.container_doctor_details_input {
    width: 300px;
}

.Container_doctor_details .inputs_data {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #E3E6E8
}

.Container_doctor_details .inputs_data input {
    width: 212px;
    border: none;
    outline: none;
    font-size: 12px;
    transition: 0.3s;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.Container_doctor_details .inputs_data label {
    left: 0;
    width: 140px;
    pointer-events: none;
    font-size: 12px;
    transition: 0.3s;
    color: #8D98A4;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.inputs_doctor_letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #1A1C1F;
}

.inputs_doctor_view {
    color: #E40443;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-left: 120px;
}

.inputs_doctor_view_letter {
    color: #E40443;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


/* ######################## LAST (3RD LAYER) #####################*/

.last_doctor_details {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin-left: 80px;
    margin-right: 40px;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.last_last_doctor_details {
    width: 500px;
}

.last_last_last_doctor_details {
    margin-bottom: 20px;
}

.last_one_doctor_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last_one_left_doctor_details {
    width: 240px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
}

.last_two_right_doctor_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    list-style: none;
}

.last_two_right_page_doctor_details {
    color: #333333;
    width: 37px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.last_two_right_1_doctor_details {
    background: white;
    border: 1px solid #DDDDDD;
    border: 1px;
    border-radius: 8px;
    width: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.drip_doctor_details {
    display: flex;
    justify-content: flex-end;
}

.last_two_right_low_doctor_details {
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.deta_doctor {
    display: flex;
    justify-content: flex-end;
    color: #E40443;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.last_one_last_doctor_details {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
}

.last_one_last_1_doctor_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E3E6E8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.last_one_last_1_doctor_details ul li {
    list-style: none;
    margin-right: 30px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #1A1C1F;
    font-family: 'Montserrat', sans-serif;
}

.view_details_doctor {
    color: #E40443;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

.last_one_last_1_doctor_details ul li button {
    background: #E5FFF2;
    border-radius: 40px;
    border: none;
    color: #41B079;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


/* ################### PAGINATION ############### */

.pagination_pag_doctor {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.pagination_pag_doctor a {
    background-color: white;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination_pag_doctor a.active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.arr_doctor {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}