.management_navbar_doctor_bankinfo {
    width: 100%;
}

.middle_edit_doctor_bankinfo {
    width: 100%;
    height: 90vh;
    margin-top: -10px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.middle_edit_doctor_bankinfo_heading {
    width: 1200px;
    padding-left: 100px;
    padding-top: 20px;
}

.middle_edit_doctor_bankinfo_heading2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    margin-top: -10px;
}

.middle_edit_doctor_bankinfo_heading2_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
}

.middle_edit_doctor_bankinfo_heading2_document {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.middle_edit_doctor_bankinfo_heading2_info {
    margin-top: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #E40443;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
}

.middle_doctor_bankinfo_userprofile {
    width: 1200px;
    padding-left: 100px;
    padding-top: 1px;
}

.middle_doctor_bankinfo_userprofile_box {
    background: #FFFFFF;
    width: 500px;
    border-radius: 16px;
    padding: 32px;
}

.middle_doctor_bankinfo_userprofile_box_2 {
    width: 430px;
    gap: 24px;
}

.doctor_bankinfo_userprofile_form {
    margin-top: 5px;
    width: 430px;
}

.doctor_bankinfo_form_data {
    width: 100%;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    height: 22px;
    margin-bottom: 3px;
}

.doctor_bankinfo_save_btn {
    background: #41B079;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 40px;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    color: white;
}

.doctor_bankinfo_form_label {
    font-size: 12px;
    font-weight: 500;
    color: #8D98A4;
}

.document_doctor_bankinfo_form_1 {
    display: none;
}

.document_doctor_bankinfo_form_2 {
    width: 400px;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    height: 22px;
    margin-bottom: 3px;
    align-items: end;
}

.doctor_bankinfo_attach_file {
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 10px;
}