.management_doctor_basic {
    width: 100%;
}

.middle_edit_basic {
    width: 100%;
    margin-top: -10px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.middle_edit_heading_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
}

.middle_edit_heading_basic h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.middle_edit_heading2_basic_base {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    margin-top: -20px;
    border-bottom: 1px solid #E1E5E8;
}

.arrow_edit_basic {
    color: #1A1C1F;
    text-align: center;
    padding-top: 3px;
    padding-right: 10px;
}

.middle_edit_heading2_basic_2 {
    margin-top: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #E40443;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.middle_edit_heading2_document_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.middle_edit_heading2_info_basic {
    margin-top: 20px;
    margin-right: 20px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.link_details_edit_basic {
    color: #1A1C1F;
}

.detailsedit_document_basic {
    text-decoration: none;
}

.middle_userprofile_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
    margin-top: 10px;
}

.middle_userprofile_box_basic {
    background: #FFFFFF;
    width: 450px;
    border-radius: 16px;
    padding: 32px;
}

.middle_userprofile_box_2_basic {
    width: 430px;
    gap: 24px;
}

.middle_userprofile_box_2_userprofile_basic {
    width: 413px;
    display: flex;
}

.middle_userprofile_box_2_userprofile_basic img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(91.48deg, #FFC8D6 -0.16%, #FFCEDB -0.15%, #FFE6EC 48.87%, #FFCEDB 99.98%);
}

.userprofile_box_basic ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.userprofile_box_basic ul li {
    margin-left: 10px;
}

.upload_btn_basic {
    background: #E40443;
    border: none;
    box-shadow: 0px 2px 4px 0px #A5A3AE4D;
    border-radius: 6px;
    width: 188px;
    height: 38px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.reset_btn_basic {
    background: #A8AAAE29;
    border-radius: 6px;
    width: 85px;
    height: 38px;
    border: none;
    color: #A8AAAE;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.listed_line_basic {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #A8AAAE;
}

.userprofile_form_basic {
    margin-top: 5px;
    width: 430px;
}

.form_data_basic {
    width: 100%;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    height: 40px;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.save_btn_basic {
    background: #41B079;
    border-radius: 8px;
    border: none;
    width: 130px;
    height: 40px;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.form_label_basic {
    font-size: 12px;
    font-weight: 500;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
}