/*############## Navbar Start ##################*/

.bookingcase_dhaassign_bookingrequests_pharmabooking_navbar_doctorcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_nav_links_doctorcase {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 50px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_doctorcase {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_doctorcase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_navbar_logo_doctorcase {
    margin-left: 70px;
    margin-bottom: 20px;
    height: 25px;
    width: 100px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_icons_bell_doctorcase {
    color: #8D98A4;
    width: 20px;
    height: 20px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_phone_icon_doctorcase {
    color: white;
    width: 20px;
    height: 20px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_dhacase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_doctorcase_2 {
    background-color: #E40443;
    border-radius: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #F5F6F7;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_jaydoctor_profile {
    padding-right: 3px;
}


/*############################### NAVBAR END ##############################*/

.booking_dha_case {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.booking_dha_case_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking_dha_case_2 {
    display: flex;
    justify-self: center;
    align-items: center;
}