/*############## Navbar Start ##################*/

.bookingrequestsdoctor_hospital_pharmabooking_navbar_doctorcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.bookingrequestsdoctor_hospital_pharmabooking_nav_links_doctorcase {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 50px;
}

.bookingrequestsdoctor_hospital_pharmabooking_list_item_doctorcase {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.bookingrequestsdoctor_hospital_pharmabooking_list_item_1_doctorcase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_hospital_pharmabooking_navbar_logo_doctorcase {
    margin-left: 70px;
    margin-bottom: 20px;
    height: 25px;
    width: 100px;
}

.bookingrequestsdoctor_hospital_pharmabooking_icons_bell_doctorcase {
    color: #8D98A4;
    width: 20px;
    height: 20px;
}

.bookingrequestsdoctor_hospital_pharmabooking_phone_icon_doctorcase {
    color: white;
    width: 20px;
    height: 20px;
}

.bookingrequestsdoctor_hospital_pharmabooking_list_item_1_dhacase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_hospital_pharmabooking_list_item_1_doctorcase_2 {
    background-color: #E40443;
    border-radius: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #F5F6F7;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestsdoctor_hospital_pharmabooking_jaydoctor_profile {
    padding-right: 3px;
}


/*############################### NAVBAR END ##############################*/

.bookingrequestdoctor_hospital_pharmacy_managemenet_container {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_management_heading_box_1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
}

.bookingrequestdoctor_hospital_pharmacy_management_heading_box_1 h2 {
    color: #1A1C1F;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_heading_box_2 {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_heading_box_3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
}

.bookingrequestdoctor_hospital_pharmacy_management_heading_box_2 p {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #E1E5E8;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_management_icon {
    margin-left: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2_p_1 {
    font-size: 16px;
    color: #8D98A4;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2_p_2 {
    margin-left: 10px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_2_p_3 {
    margin-left: 10px;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #E40443;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3 {
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_2 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_3 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_4 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up {
    border-bottom: 1px solid #E4E4E4;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box_left {
    display: flex;
    justify-content: flex-start;
    color: #E40443;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box_right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box_right_1 {
    margin-right: 5px;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box_right_2 {
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2_left {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2_left_1 {
    border-right: 2px solid #E40443;
}

.bookingrequestdoctor_hospital_phar_vaac_1 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.bookingrequestdoctor_hospital_phar_vaac_2 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.bookingrequestdoctor_hospital_phar_vaac_3 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2_left_2 {
    border-right: 2px solid #E40443;
    margin-left: 5px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2_left_3 {
    margin-left: 5px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_up_box2_right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_left {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_left img {
    width: 48px;
    height: 48px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right {
    width: 284px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_up_text {
    display: flex;
    justify-content: flex-start;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharma_btn {
    border-radius: 24px;
    border: none;
    height: 22px;
    width: 73px;
    background-color: linear-gradient(0deg, #7C67FB, #7C67FB), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    color: #7C67FB;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharma_btn_1 {
    border-radius: 24px;
    border: none;
    height: 22px;
    width: 134px;
    background-color: linear-gradient(0deg, #7C67FB, #7C67FB), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    color: #7C67FB;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pahrma_boking_link {
    text-decoration: none;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_up_btn {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_down_1 {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_down_2 {
    color: #5B6572;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_right_down_3 {
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #E40443;
    margin-top: 5px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_down_left button {
    background: #E40443;
    border: none;
    border-radius: 8px;
    width: 153px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_3_1_down_down_right button {
    border: 1px solid #898989;
    border-radius: 8px;
    width: 153px;
    height: 30px;
    background: white;
    color: #898989;
}

.doctortoggle_hospital_booking {
    background: #DCFAEB;
    height: 10px;
    width: 28px;
    border-radius: 30px;
    display: flex;
    position: absolute;
}

.doctortoggle_hospital_booking_left {
    height: 15px;
    width: 15px;
    background: #41B079;
    border-radius: 20px;
    position: relative;
    bottom: 3px;
}

.doctortoggle_hospital_booking_right {
    height: 15px;
    width: 15px;
    background: #41B079;
    border-radius: 20px;
    position: relative;
    bottom: 3px;
    margin-left: 15px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_4 {
    margin-left: 90px;
    margin-top: 20px;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_4_urgent {
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    height: 28px;
    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B3B3B3;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.bookingrequestdoctor_hospital_pharmacy_management_container_4_icon {
    margin-left: 20px;
    align-items: center;
    color: #8D98A4;
}


/*#################################### PAGINATION ##################################### */

.bookingrequestdoctor_hospital_pharmacy_pagination {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.bookingrequestdoctor_hospital_pharmacy_pagination a {
    background-color: white;
    color: linear-gradient(0deg, #F1F1F1, #F1F1F1), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bookingrequestdoctor_hospital_pharmacy_pagination a.bookingrequestdoctor_anch_active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.bookingrequestdoctor_hospital_Link {
    color: #E40443;
}

.bookingrequestdoctor_hospital_pharma_less_doctor {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}

.bookingrequestdoctor_hospital_footer_pharmacy {
    width: 100%;
}

.bookingrequestdoctor_hospital_medicine_link {
    text-decoration: none;
    list-style: none;
}