/*############## Navbar Start ##################*/

.bookingcase_dhaassign_bookingrequests_pharmabooking_navbar_doctorcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 40px, 120px, 40px, 120px;
    border: 0px, 0px, 1px, 0px;
    gap: 8px;
    background-color: white;
    border-bottom: 1px solid #E3E6E8;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_nav_links_doctorcase {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin-right: 50px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_doctorcase {
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    color: #8D98A4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_doctorcase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_navbar_logo_doctorcase {
    margin-left: 70px;
    margin-bottom: 20px;
    height: 25px;
    width: 100px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_icons_bell_doctorcase {
    color: #8D98A4;
    width: 20px;
    height: 20px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_phone_icon_doctorcase {
    color: white;
    width: 20px;
    height: 20px;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_dhacase {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, #F5F6F7, #F5F6F7);
    border: 1px solid #F5F6F7;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_list_item_1_doctorcase_2 {
    background-color: #E40443;
    border-radius: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #F5F6F7;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dhaassign_bookingrequests_pharmabooking_jaydoctor_profile {
    padding-right: 3px;
}


/*############################### NAVBAR END ##############################*/

.booking_dha_case {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.booking_dha_case_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking_dha_case_2 {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 20px;
}

.booking_dha_case_2 button {
    background: #E40443;
    height: 35px;
    width: 215px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

.booking_dha_case_1 button {
    background: #E40443;
    height: 35px;
    width: 215px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

.bookingcase_middle_container_dha_case_details {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
    padding-top: 30px;
}

.bookingcase_middle_container_heading_dha_case_details {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bookingcase_middle_container_heading_1_dha_case_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 80px;
}

.bookingcase_middle_container_heading_1_dha_case_details h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_arr_div {
    margin-top: 20px;
    margin-right: 10px;
}

.bookingcase_details_arrow_case_dha {
    height: 24px;
    width: 24px;
    color: #1A1C1F;
}

.bookingcase_third_container_dha_case_details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.bookingcase_third_container_left_dha_case_details {
    background-color: white;
    margin-left: 80px;
    width: 790px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.bookingcase_third_container_right_dha_case_details {
    background-color: white;
    margin-right: 70px;
    width: 380px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.bookingcase_dha_case_details_userprofile {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEF0F3
}

.bookingcase_dha_case_details_userprofile_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bookingcase_dha_case_details_userprofile_profile img {
    height: 88px;
    width: 88px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bookingcase_dha_case_details_userprofile_info ul li {
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
}

.bookingcase_dha_case_details_userprofile_info_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.bookingcase_dha_case_details_userprofile_info_2_1 {
    width: 36px;
    height: 36px;
    padding: 0px, 24px, 0px, 24px;
    border-radius: 8px;
    gap: 12px;
    background: #FCE6EC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bookingcase_dha_case_details_userprofile_info_2_2 {
    width: 36px;
    height: 36px;
    padding: 0px, 24px, 0px, 24px;
    border-radius: 8px;
    gap: 12px;
    background: #FCE6EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingcase_dha_case_details_userprofile_info_2_1_icon {
    color: #E40443;
}

.bookingcase_dha_case_details_userprofile_info_2_1_icon1 {
    color: #E40443;
}

.bookingcase_dha_li_1_case {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: 5px;
}

.bookingcase_dha_li_2_case {
    font-size: 16px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.bookingcase_dha_li_3_case {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #5B6572;
    margin-top: 4px;
}

.bookingcase_dha_li_4_case {
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
}

.bookingcase_dha_case_detail_service_type {
    display: flex;
    justify-content: flex-start;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #EEF0F3
}

.bookingcase_dha_case_detail_service_name {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.bookingcase_dha_case_detail_service_name h3 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_service_name p {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
}

.bookingcase_dha_case_detail_symptom {
    border-bottom: 1px solid #EEF0F3
}

.bookingcase_dha_case_deatil_symptom_1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.bookingcase_dha_case_detail_symptom_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.bookingcase_dha_case_detail_symptom_left_1 {
    border: 1px solid #DBDDDF;
    border-radius: 8px;
    width: 95px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #040404;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bookingcase_dha_case_detail_symptom_right button {
    background: #E40443;
    border-radius: 8px;
    width: 131px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 10px;
}

.bookingcase_dha_case_detail_complet {
    border-bottom: 1px solid #EEF0F3;
    height: 70px;
    width: 100%;
}

.bookingcase_dha_case_detail_completion p {
    color: #41B079;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.bookingcase_dha_case_detail_time {
    display: flex;
    margin-top: -20px;
}

.bookingcase_dha_case_detail_time_1 {
    margin-left: 20px;
    width: 361px;
    display: flex;
}

.bookingcase_calen {
    text-align: center;
    padding-top: 3px;
}

.bookingcase_dha_case_detail_time_2 {
    text-align: left;
    display: flex;
}

.bookingcase_dha_case_detail_clock {
    text-align: center;
    padding-top: 3px;
    padding-right: 5px;
}

.bookingcase_dha_case_detail_para {
    border-radius: 12px;
    width: 100%;
}

.bookingcase_dha_case_detail_para_main {
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.bookingcase_dha_case_detail_para_main_left {
    width: 365px;
    height: 184px;
}

.bookingcase_dha_case_detail_para_main_right {
    width: 274px;
    height: 215px;
}

.bookingcase_dha_case_detail_para_main_left h4 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_para_main_left p {
    color: #5B6572;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_para_main_right h4 {
    width: 107px;
    height: 16px;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_para_bottom_head {
    margin-left: 20px;
}

.bookingcase_dha_case_detail_para_bottom_head h3 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_para_bottom_mid {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.bookingcase_dha_case_detail_para_bottom_mid_left {
    display: flex;
    justify-content: flex-start;
}

.bookingcase_dha_case_detail_para_bottom_mid_right {
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.bookingcase_dha_case_detail_call {
    padding-top: 3px;
    text-align: center;
    padding-right: 5px;
    color: #1A1C1F;
}

.bookingcase_dha_case_detail_para_bottom_mid_left_list ul li {
    list-style: none;
    margin-left: -20px;
}

.bookingcase_dha_case_deatil_list {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_list_item {
    color: #E40443;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_para_bottom_bot button {
    background: #E40443;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 213px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8px;
    margin-left: 30px;
}

.bookingcase_dha_case_detail_para_bottom_mid_left img {
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-left: 10px;
}

.bookingcase_dha_case_detail_lower {
    margin-top: 30px;
}

.bookingcase_dha_case_detail_lower_1 {
    height: 18px;
    margin-left: 20px;
}

.bookingcase_dha_case_detail_lower_1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1A1C1F;
}

.bookingcase_dha_case_detail_lower_2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.bookingcase_dha_case_detail_lower_2_image {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: #FFFFFF;
    margin-left: 25px;
    margin-top: 10px;
}

.bookingcase_dha_case_detail_lower_2_low ul li {
    list-style: none;
    margin-left: -20px;
}

.bookingcase_dha_case_detail_lower_2_low_list {
    height: 16px;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_lower_2_low_list_item {
    height: 14px;
    color: #5B6572;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
}


/*################ Right Side Container ############### */

.bookingcase_third_container_right_case_details_first {
    border-radius: 16px;
    background-color: white;
}

.bookingcase_third_container_right_case_details_first_1 {
    margin-left: 20px;
    margin-top: 20px;
}

.bookingcase_third_container_right_case_details_first_1 h2 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    height: 16px;
}

.bookingcase_third_container_right_case_details_first_2 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.bookingcase_third_container_right_case_details_first_list {
    list-style: none;
    color: #8D98A4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: -20px;
}

.bookingcase_third_container_right_case_details_first_item {
    list-style: none;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_third_container_right_case_details_first_3 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.bookingcase_third_container_right_case_details_first_4 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.bookingcase_third_container_right_case_details_first_5 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.bookingcase_third_container_right_case_details_first_6 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.bookingcase_third_container_right_case_details_first_7 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}


/*

.third_container_right_case_details_last_list {
    list-style: none;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.third_container_right_case_details_last_item {
    list-style: none;
    color: #5B6572;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.third_container_right_case_details_last_2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.third_container_right_case_details_last_2_one {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
}
*/

.bookingcase_dha_list_item_case {
    list-style: none;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_list_item_case2 {
    list-style: none;
    color: #5B6572;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.bookingcase_dha_case_detail_container {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 15px;
}

.bookingcase_dha_case_detail_box {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}