.dhaassign_container_2 {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.dhaassign_container_2_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dhaassign_profile_documnet_labdetailedit_pharma_edit_heading_basic {
    width: 1200px;
    padding-left: 70px;
    padding-top: 1px;
}

.dhaassign_profile_documnet_labdetailedit_pharma_edit_heading_basic h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.dhaassign_profile_documnet_labdetailedit_pharma_edit_heading2_basic_base {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    margin-top: -20px;
    border-bottom: 1px solid #E1E5E8;
}

.dhaassign_profile_documnet_labdetailedit_pharma_arrow_edit_basic {
    color: #1A1C1F;
    text-align: center;
    padding-top: 3px;
    padding-right: 10px;
}

.dhaassign_container_2_1_second {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
}

.dhaassign_container_2_1_second_1 {
    margin-left: 20px;
    border: 1px solid #DBDADE;
    border-radius: 6px;
    width: 240px;
    height: 38px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dhaassign_container_2_1_second_1 input {
    border: none;
    outline: none;
    color: #5B6572;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bookingdhaassign_doctor_search {
    color: #5B6572;
    width: 24px;
    height: 24px;
}

.dhaassign_container_2_1_second_2 {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 229px;
}

.dhaassign_container_2_1_second_2_up {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.dhaassign_container_2_1_second_2_down {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #8D98A4;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: -10px;
}

.dhaassign_container_2_1_second_2_down_icon {
    margin-left: 10px;
}

.dhaassign_container_2_1_second_3 button {
    background: #E40443;
    width: 97px;
    height: 36px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8px;
}


/* ################################### DOCTOR IMAGE PART  ########################### */

.dhaassign_container_2_2 {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 0px 0px 48px 0px;
}

.dhaassign_container_2_2_first {
    height: 344px;
    width: 276px;
    border: 1px solid #E3E6E8;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dhaassign_container_2_2_top {
    border: 4px solid #3EB655;
}

.dhaassign_container_2_2_first:focus {
    border: 4px solid #3EB655;
}

.assigndoctor_dhaassign_container_2_2_first {
    height: 344px;
    width: 276px;
    border: 1px solid #E3E6E8;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dhaassign_container_2_2_fifth {
    height: 344px;
    width: 276px;
    border: 1px solid #E3E6E8;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dhaassign_container_2_2_first_down {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

.assigndoctor_dhaassign_container_2_2_first_down_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.assigndoctor_dhaassign_container_2_2_first_down_1_left {
    display: inline;
    justify-content: center;
    align-items: center;
}

.assigndoctor_dhaassign_container_2_2_first_down_1_right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #41B079;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    border: none;
    color: white;
}

.assigndoctor_dhaassign_container_2_2_first_down_1_right:focus {}

.dhaassign_container_2_2_first_down_1 {
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.dhaassign_container_2_2_first_down_2 {
    color: #8D98A4;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.dhaassign_container_2_2_first_up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E3E6E8;
    width: 276px;
}

.bookingdhaassign_link {
    text-decoration: none;
}