.success_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.left_side_success {
    background-color: #B60336;
    border-radius: 16px;
    height: 684px;
    width: 450px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 44px;
    padding-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.logo_success {
    margin-top: 30px;
    margin-left: 30px;
}

.logo_success p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    cursor: pointer;
}

.heading_box_success {
    margin-top: -30px;
    margin-left: 40px;
}

.heading_box_success_head {
    width: 280px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.heading_box_success_para {
    width: 357px;
    padding-top: 5px;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* userbox */

.box1_success {
    margin-bottom: 40px;
    margin-left: 27px;
}

.box2_success {
    margin-top: 3px;
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 16px;
    padding: 10px 20px;
}

.box2_success_par {
    color: #1A1C1F;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

.user_box_success {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.username_success_prof {
    color: #1A1C1F;
    font-weight: bold;
}

.username_success_prof i {
    color: gold;
    padding-top: 5px;
}


/* right_side */

.right_side_success {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 650px;
    justify-content: space-between;
}

.right_side_logo_success {
    margin-top: 20px;
}

.successfull {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.successfull_head {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -2px;
}

.successfull_graph {
    font-weight: 500px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    text-align: center;
}

.success_form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 20px;
}

.success_otp_btn {
    height: 44px;
    width: 416px;
    background-color: #fce6ec;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    color: #E40443;
}

.success_form img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.success_otp_btn .Link {
    color: #e40443;
}

.Link {
    text-decoration: none;
    color: white;
}

.success_otp_btn:hover .Link {
    color: #E40443;
}