.addlab_hero_addpharma_main {
    background-image: url('../Assets/image 219.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.addlab_addpharma_add {
    background: #FFFFFF;
    width: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.addlab_addpharma_header_add {
    width: 496px;
    margin-left: 25px;
}

.addlab_addpharma_header_bar_add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.addlab_addpharma_header_bar_1_add {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #E40443;
    color: white;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addlab_addpharma_progress {
    position: absolute;
    height: 4px;
    border-radius: 6px;
    width: 100%;
    background: #EEF0F3;
}

.addlab_addpharma_indicator {
    position: absolute;
    height: 100%;
    width: 13%;
    background-color: #E40443;
}

.addlab_addpharma_header_bar_2_add {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #EEF0F3;
    color: black;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlab_addpharma_header_bar_3_add {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #EEF0F3;
    color: black;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addlab_addpharma_mid_add {
    width: 500px;
    margin-left: 20px;
    margin-top: -10px;
}

.addlab_addpharma_mid_add h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #1A1C1F;
    font-family: 'Montserrat', sans-serif;
}

.addlab_addpharma_form_add {
    margin-top: -15px;
}

.addlab_addpharma_form_fill_add {
    width: 500px;
    align-items: center;
    margin-bottom: 5px;
}

.addlab_addpharma_form_fill_labi_add {
    width: 500px;
    height: 14px;
    padding: 0px, 3px, 0px, 3px;
    color: #8D98A4;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addlab_addpharma_form_fill_inp_add {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    margin-bottom: 2px;
}

.addlab_addpharma_btn_add {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background: #E40443;
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.addlab_labupload_pharmaupload_adddha_form_fill {
    width: 500px;
    align-items: center;
    height: 110px;
}

.addlab_labupload_pharmaupload_adddha_form_fill_labi {
    width: 500px;
    height: 14px;
    padding: 0px, 3px, 0px, 3px;
    color: #8D98A4;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addlab_labupload_pharmaupload_adddha_form_fill_inp {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    color: linear-gradient(0deg, #EEF0F3, #EEF0F3), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #EEF0F3;
    margin-bottom: 2px;
}

.addlab_labupload_pharmaupload_adddha_form_fill_inp_3 {
    display: none;
}

.addlab_labupload_pharmaupload_adddha_file_up {
    height: 88px;
    width: 500px;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    border: 1px solid #EEF0F3;
    color: #5B6572;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.addlab_labupload_pharmaupload_adddha_form_fill_div {
    margin-bottom: 5px;
}