/*############## Navbar Start ##################*/

.labstarted_management {
    width: 100%;
}


/*################## Navbar End ###################*/


/*################## Mid Section Start###############*/

.labstarted_pharmabooking_middle_container_doctor_case_details {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
    padding-top: 10px;
}

.labstarted_pharmabooking_middle_container_heading_doctor_case_details {
    display: flex;
    justify-content: center;
    width: 100%;
}

.labstarted_pharmabooking_middle_container_heading_1_doctor_case_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 80px;
}

.labstarted_pharmabooking_middle_container_heading_1_doctor_case_details h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.labstarted_pharmabooking_arrdoctor_div {
    margin-top: 20px;
    margin-right: 10px;
}

.labstarted_pharmabooking_details_arrow_case_doctor {
    height: 24px;
    width: 24px;
    color: #1A1C1F;
}

.labstarted_pharmabooking_third_container_doctor_case_details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.labstarted_pharmabooking_third_container_left_doctor_case_details {
    background-color: white;
    margin-left: 80px;
    width: 790px;
    border-radius: 16px;
    margin-bottom: 20px;
    height: 560px;
}

.labstarted_pharmabooking_third_container_right_doctor_case_details {
    background-color: white;
    margin-right: 70px;
    width: 396px;
    border-radius: 16px;
    margin-bottom: 20px;
    height: 560px;
}

.labstarted_pharmabooking_doctor_case_details_userprofile {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #EEF0F3
}

.labstarted_pharmabooking_doctor_case_details_userprofile_profile {
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-left: 20px;
}

.labstarted_pharmabooking_doctor_case_details_userprofile_info ul li {
    list-style: none;
    text-decoration: none;
}

.labstarted_pharmabooking_doctor_li_1_case {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    margin-top: 5px;
}

.labstarted_pharmabooking_doctor_li_2_case {
    font-size: 16px;
    font-weight: 500;
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.labstarted_pharmabooking_doctor_li_3_case {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #5B6572;
    margin-top: 4px;
}

.labstarted_pharmabooking_doctor_li_4_case {
    color: #5B6572;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
}

.labstarted_pharmabooking_doctor_case_detail_complet {
    border-bottom: 1px solid #EEF0F3;
    height: 70px;
    width: 100%;
}

.labstarted_pharmabooking_doctor_case_detail_completion p {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_time {
    display: flex;
    margin-top: -20px;
}

.labstarted_pharmabooking_doctor_case_detail_time_1 {
    margin-left: 20px;
    width: 361px;
    display: flex;
}

.labstarted_pharmabooking_calen_doctor {
    text-align: center;
    padding-top: 3px;
}

.labstarted_pharmabooking_doctor_case_detail_time_2 {
    text-align: left;
    display: flex;
}

.labstarted_pharmabooking_doctor_case_detail_clock {
    text-align: center;
    padding-top: 3px;
    padding-right: 5px;
}

.labstarted_pharmabooking_doctor_case_detail_symptom {
    border-bottom: 1px solid #EEF0F3
}

.labstarted_pharmabooking_doctor_case_deatil_symptom_1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_symptom_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.labstarted_pharmabooking_doctor_case_detail_symptom_left_1 {
    border: 1px solid #DBDDDF;
    border-radius: 8px;
    width: 57px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #040404;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labstarted_pharmabooking_doctor_case_detail_symptom_right button {
    background: #E40443;
    border-radius: 8px;
    width: 131px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 10px;
}

.labstarted_pharmabooking_doctor_case_detail_para {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_para_left {
    width: 40px;
    height: 210px;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    border-left: 2px dashed #EEF0F3;
}

.labstarted_pharmabooking_doctor_case_detail_container_1 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.labstarted_pharmabooking_doctor_case_detail_container_2 {
    width: 10px;
    height: 10px;
    background: #E40443;
    color: white;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.labstarted_pharmabooking_doctor_check_mark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_container_3 {
    width: 10px;
    height: 10px;
    background: #EEF0F3;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #5B6572;
}

.labstarted_pharmabooking_doctor_case_detail_container_4 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.labstarted_pharmabooking_doctor_case_detail_container_5 {
    width: 10px;
    height: 10px;
    background: #E40443;
    border-radius: 40px;
    padding: 12px;
    gap: 8px;
    margin-top: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
}

.lab_pharmabooking_doctor_case_detail_para_right {}

.labstarted_pharmabooking_doctor_case_detail_para_right_5 {
    width: 685px;
}

.labstarted_pharmabooking_doctor_case_detail_para_right_2_up {
    width: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labstarted_pharmabooking_doctor_case_detail_para_content_2 {
    display: grid;
    justify-content: flex-start;
    width: 650px;
    margin-top: -10px;
}

.labstarted_pharmabooking_doctor_case_detail_para_content_2 h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #1A1C1F;
}

.labstarted_pharmabooking_doctor_case_detail_para_content_2 p {
    color: #5B6572;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.labstarted_pharmabooking_doctor_case_detail_calendar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_calendar_1 {
    background: #F5F6F7;
    border: none;
    border-radius: 8px;
    height: 70px;
    width: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.labstarted_span {
    color: #1A1C1F;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.labstarted_pharmabooking_doctor_case_detail_calendar_2 {
    background: #F5F6F7;
    border: none;
    border-radius: 8px;
    height: 70px;
    width: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.labstarted_pharmabooking_doctor_case_detail_calendar_3 {
    background: #F5F6F7;
    border: none;
    border-radius: 8px;
    height: 70px;
    width: 80px;
    margin-left: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.labstarted_span_2 {
    color: #1A1C1F;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labstarted_back {
    color: #1A1C1F;
}


/*################################ Right Side #############################*/

.labstarted_pharmabooking_third_container_right_doctorcase_details_first {
    border-radius: 16px;
    background-color: white;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_1 {
    margin-left: 20px;
    margin-top: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_1 h2 {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    height: 16px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_2 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_list {
    list-style: none;
    color: #8D98A4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: -20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_item {
    list-style: none;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_3 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_4 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_5 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_6 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border-bottom: 2px solid #E3E6E8;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_7 ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}


/*############### RIGHT SIDE CONTENT ################## */

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 16px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 16px;
    margin-top: 10px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #8D98A4;
    height: 16px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 16px;
    margin-top: 10px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #8D98A4;
    height: 16px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #8D98A4;
    height: 16px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_list_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8D98A4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_list_div_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.labstarted_pharmabooking_third_container_right_doctorcase_details_first_item_div {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 500;
}

.labbookingstarted_link {
    text-decoration: none;
}