.lab_managemenet {
    width: 100%;
}

.lab_managemenet_container {
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
}

.lab_management_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lab_management_heading_box_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70px;
}

.lab_management_left_arrow {
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.lab_management_heading_box_1 h2 {
    color: #1A1C1F;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lab_management_heading_box_2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.lab_management_heading_box_2 button {
    background: #E40443;
    width: 168px;
    height: 38px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_heading_box_2 p {
    color: #1A1C1F;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_2 {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #E1E5E8;
    margin-top: 20px;
}

.lab_management_container_2_up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lab_management_container_2_down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lab_management_container_2_p_1 {
    color: #E40443;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #E40443;
}

.lab_management_container_2_p_2 {
    margin-left: 10px;
    color: #8D98A4;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_3 {
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
}

.lab_management_container_3_all {
    font-family: 'Montserrat', sans-serif;
    color: #1A1C1F;
    font-size: 16px;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 30px;
}

.lab_management_container_3_1 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
}

.lab_management_container_3_2 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-left: 40px;
}

.lab_management_container_3_3 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-left: 40px;
}

.lab_management_container_3_4 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-top: 30px;
}

.lab_management_container_3_5 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-top: 30px;
    margin-left: 40px;
}

.lab_management_container_3_6 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-top: 30px;
    margin-left: 40px;
}

.lab_management_container_3_7 {
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: white;
    width: 380px;
    margin-top: 30px;
}

.lab_management_container_3_1_up {
    border-bottom: 1px solid #E4E4E4;
}

.lab_management_container_3_1_up_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.lab_management_container_3_1_up_box_left {
    display: flex;
    justify-content: flex-start;
    color: #E40443;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

.lab_management_container_3_1_up_box_right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.lab_management_container_3_1_up_box_right_1 {
    margin-right: 5px;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_3_1_up_box_right_2 {
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_3_1_up_box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lab_management_container_3_1_up_box2_left {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.lab_management_container_3_1_up_box2_left_1 {
    border-right: 2px solid #E40443;
}

.lab_vaac_1 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.lab_vaac_2 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.lab_vaac_3 {
    color: #E40443;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_3_1_up_box2_left_2 {
    border-right: 2px solid #E40443;
    margin-left: 5px;
}

.lab_management_container_3_1_up_box2_left_3 {
    margin-left: 5px;
}

.lab_management_container_3_1_up_box2_right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_management_container_3_1_down {
    display: flex;
    align-items: center;
}

.lab_management_container_3_1_down_left {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lab_management_container_3_1_down_left img {
    width: 48px;
    height: 48px;
}

.lab_management_container_3_1_down_right {
    width: 284px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.lab_management_container_3_1_down_right_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lab_management_container_3_1_down_right_up_text {
    display: flex;
    justify-content: flex-start;
    color: #1A1C1F;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.lab_btn {
    border-radius: 24px;
    border: none;
    height: 22px;
    width: 73px;
    background: #FDF0CC;
    color: #1A1C1F;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.lab_btn_2 {
    border-radius: 24px;
    border: none;
    height: 22px;
    width: 80px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #41B079;
}

.lab_management_container_3_1_down_right_up_btn {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.lab_management_container_3_1_down_right_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.lab_management_container_3_1_down_right_down_left {
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
}

.lab_management_3_1_down_right_down_right {
    display: flex;
    justify-content: flex-end;
    color: #5B6572;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


/*#################################### PAGINATION ##################################### */

.lab_pagination {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.lab_pagination a {
    background-color: white;
    color: linear-gradient(0deg, #F1F1F1, #F1F1F1), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    font-size: 13px;
    font-weight: 600;
    color: #8D98A4;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.lab_pagination a.lab_anch_active {
    background-color: #E40443;
    font-weight: 400;
    color: white;
}

.Link {
    color: #E40443;
}

.lab_less_doctor {
    margin-right: 3px;
    margin-left: 3px;
    color: black;
}

.lab_footer {
    width: 100%;
}