.login_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.left_side_login {
    background-color: #B60336;
    border-radius: 16px;
    width: 450px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 44px;
    padding-left: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.logo_login {
    margin-top: 30px;
    margin-left: 30px;
}

.logo_para_login {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    cursor: pointer;
}

.heading_box_login {
    margin-top: -30px;
    margin-left: 30px;
}

.heading_box_head {
    width: 280px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.heading_box_para {
    width: 357px;
    padding-top: 5px;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* userbox */

.login_box1 {
    margin-bottom: 40px;
    margin-left: 27px;
}

.login_box2 {
    margin-top: 3px;
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 16px;
    padding: 10px 20px;
}

.login_box2_para {
    color: #1A1C1F;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

.user_box_login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.login_username_prof {
    color: #1A1C1F;
    font-weight: bold;
}

.login_username_prof i {
    color: gold;
    padding-top: 5px;
}


/*right_side*/

.right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 650px;
    justify-content: space-between;
}

.right_side_logo {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.login_form_container_header {
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -10px;
    margin-top: 50px;
}

.login_form_container_par {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1A1C1F;
    font-weight: bold;
    margin-bottom: 30px;
}

.login_form_container p span {
    color: #E40443;
}

.loginform {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
}

.loginform label {
    color: #8D98A4;
    font-size: 12px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}


/*
.loginform input {
    border: 1px solid #EEF0F3;
    height: 40px;
    width: 416px;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
*/

.login_container_3_input {
    border: 1px solid #EEF0F3;
    border-radius: 8px;
    height: 40px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login_container_3_image_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: 52px;
}

.login_container_3_image_div img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login_container_3_dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_container_inp {
    width: 370px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #5B6572;
    border: none;
    outline: none;
}

.login_Link {
    text-decoration: none;
    color: #fff;
}


/*.loginform .otp-btn:hover .Link {
    color: #E40443;
}*/

.loginform .otp_btn_login {
    height: 40px;
    width: 440px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E40443;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    margin-top: 10px;
}


/*.loginform .otp-btn:hover {
    border: 1px solid #E40443;
    background-color: #ffff;
    color: #E40443;
}*/

.check_box {
    margin-top: 70px;
}

.check_text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.check_text input {
    cursor: pointer;
    width: 16px;
    height: 20px;
}

.check_text label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.check_text label span {
    color: #E40443;
    cursor: pointer;
    padding-left: 3px;
}

.check_text img {
    margin-left: -6px;
}

.paragraph_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 60px;
}

.paragraph_login p {
    font-size: 15px;
    color: #5B6572;
    padding-bottom: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}